c/secp256k1-zkp/configure
c/secp256k1-zkp/configure~
c/secp256k1-zkp/build-aux
c/secp256k1-zkp/autom4te.cache
c/secp256k1-zkp/aclocal.m4
c/secp256k1-zkp/Makefile.in
c/secp256k1-zkp/Makefile
c/secp256k1-zkp/config.log
c/secp256k1-zkp/config.status
c/secp256k1-zkp/libsecp256k1.pc
c/secp256k1-zkp/libtool
c/secp256k1-zkp/src/.*
c/secp256k1-zkp/examples/.deps
c/secp256k1-zkp/.libs
c/secp256k1-zkp/bench*
c/secp256k1-zkp/exhaustive_tests
c/secp256k1-zkp/tests
c/secp256k1-zkp/noverify_tests
c/secp256k1-zkp/src/libsecp256k1_*
c/secp256k1-zkp/src/*.o
c/secp256k1-zkp/*.o
c/secp256k1-zkp/libsecp256k1*
c/secp256k1-zkp/src/libsecp256k1-config.h*
.obj/*
c/secp256k1-zkp/gen_context
c/secp256k1-zkp/src/ecmult_static_context.h
c/secp256k1-zkp/src/.deps/*
c/secp256k1-zkp/src/stamp-h1
